.overlay .form__title {
  text-align: center;
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.overlay p {
  margin: 0;
  max-width: 270px;
  color: #333;
  margin: 0 auto 25px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.overlay .modal-content-del {
  min-height: 230px;
}
