.form {
  display: flex;
  flex-direction: column;
}

.form__title {
  margin: 0;
  margin-bottom: 32px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
}

.form__close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  background-image: url('../images/close.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form__input {
  margin-bottom: 15px;
  position: relative;
}

.form__btn-block {
  margin-bottom: 30px;
  text-align: center;
  padding: 8px;
  background-color: rgba(167, 167, 167, 0.2);
  margin-right: -30px;
  margin-left: -30px;
}

.form__add-btn {
  position: relative;
  background-color: transparent;
  transition: color 0.3s;
}

.form__add-btn.active {
  display: none;
}

.form__add-btn:hover {
  color: #9873ff;
}

.form__add-btn::before {
  position: absolute;
  top: 5px;
  left: -20px;
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  background-image: url('../images/add_circle_outline.svg');
  background-size: cover;
  background-position: center;
}

.form__cancel-btn {
  background-color: transparent;
  text-decoration: underline;
}

.form__save-btn {
  position: relative;
  margin: 0 auto;
  margin-bottom: 10px;
  display: inline-block;
  max-width: 147px;
  padding: 12px 35px;
  padding-left: 45px;
  background-color: #9873ff;
  color: #fff;
}

.form__title span {
  color: #b0b0b0;
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
}
