/* @import './bootstrap.min.css'; */
/* @import "./reset.css";
@import "./fonts.css";
@import "./components/header.css";
@import "./components/section.css";
@import "./components/modal.css";
@import "./components/contact.css"; */
body {
  padding: 100px;
}
input {
  height: 50px;
  width: 300px;
}
.form-floating {
  position: relative;
  margin-bottom: 32px;
}

.form-floating > label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-size: 14px;
  padding-top: 5px;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition:
    opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out;
  color: #000;
}

.form-floating > .modal__input:focus ~ label,
.form-floating > .modal__input:not(:placeholder-shown) ~ label {
  top: -30px;
  transform: scale(0.85) translate(0.15rem, -0.5rem);
}

.modal__input::placeholder {
  font-size: 0;
}
