.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.overlay form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overlay form label {
  width: 100%;
}
.overlay h3 {
  margin: 0;
  margin-bottom: 30px;
}
.overlay form input {
  margin-bottom: 30px;
  height: 35px;
  border: none;
  padding: 4px;
  border-bottom: 1px solid rgba(200, 197, 209, 0.3);
  width: 100%;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px;
  max-width: 450px;
  width: 100%;
  background-color: #fff;
}

.contacts-block {
  margin-bottom: 25px;
  padding: 10px;
  background-color: rgba(200, 197, 209, 0.3);
  width: 450px;
  display: flex;
  justify-content: center;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  background-image: url("../../images/close.svg");
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Open-sans", sans-serif;
}

.site-btn {
  padding: 17px 35px;
  background-color: #9873ff;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  font-weight: 400;
}

.save-btn {
  position: relative;
  margin-bottom: 10px;
}


.add-btn {
  position: relative;
  font-size: 14px;
font-style: normal;
font-weight: 600;
}

.add-btn::before {
  position: absolute;
  top: 3px;
  left: -20px;
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-image: url('../../images/add_circle_outline.svg');
  background-size: cover;
}

.add-client-btn {
  position: relative;
  padding: 12px 26px 12px 58px;
  border: 1px solid #9873FF;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  background-color: transparent;
  margin: 0 auto;
  display: block;

}
.add-client-btn::before {
  position: absolute;
  top: 14px;
  left: 27px;
  content: '';
  display: block;
  width: 22px;
  height: 16px;
  background-image: url('../../images/addclient.svg');
  background-size: cover;

}
